body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.iphone {
    position: relative;
    width: 430px; /* iPhone 14 Pro Max width 430*/
    height: 932px; /* iPhone 14 Pro Max height 932*/
    border-radius: 60px;
    background-image: url("walk.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.dynamic-island {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 40px;
    border-radius: 30px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: height 0.7s ease, transform 0.7s ;
    transition: 0.5s;
}
.dynamic-island.active{
    height: 150px;
    width: 155px;
    border-radius: 32px;
    background-image: url("giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    transition: 0.4s linear;
}

.dynamic-island.rem{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 40px;
    border-radius: 30px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: height 0.7s, transform 0.6s ;
}

.dynamic-island.notfi{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 90px;
    border-radius: 90px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: height 0.6s, transform 0.6s;
   transition: 0.6s linear;
}
.vid{
    display: none;
}

.dynamic-island:hover{
    width: 140px;
    height: 40px;
    animation: Shake 0.4s linear;
}
@keyframes Shake {
  0%{
    width: 140px;
    height: 40px;
  }
  50%{
    width: 147px;
    height: 43px;
    transform: rotateX('5deg');
    transition: 0.4s linear;
  }
  100%{
    width: 147px;
    height: 43px;
    transform: rotateY('5deg');
  }
}

.time{ 
    position: absolute;
    left: 60px;
    top: 5px;
}
.time p{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notification {
    position: absolute;
    top: -150%; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 5px;
    transition: top 0.5s ease-in-out;
    height: 100vh;
    width: 100%;
  }
  
  .notification.show {
    top: 20px; /* Slide down to this position */
  }
  